.InTheMedia {
    padding-inline: 100px;
    padding-block: 55px;
}

.Media-card:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

@keyframes image-scale-keyframes {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.image-scale-animation {
    animation: image-scale-keyframes 3s infinite linear(0 0%, 0 1.8%, 0.01 3.6%, 0.03 6.35%, 0.07 9.1%, 0.13 11.4%, 0.19 13.4%, 0.27 15%, 0.34 16.1%, 0.54 18.35%, 0.66 20.6%, 0.72 22.4%, 0.77 24.6%, 0.81 27.3%, 0.85 30.4%, 0.88 35.1%, 0.92 40.6%, 0.94 47.2%, 0.96 55%, 0.98 64%, 0.99 74.4%, 1 86.4%, 1 100%)
}

@media only screen and (max-width: 768px) {
    .InTheMedia {
        padding-top: 0px;
        padding-bottom: 40px;
        padding-inline: 20px;
    }

    .Media-card {
        max-width: 330px;
    }
} 

@media only screen and (max-width: 960px) and (min-width: 768px){
    .InTheMedia {
        padding-top: 0px;
        padding-bottom: 30px;
        padding-inline: 40px;
    }
}