@import "../../App.css";

.Questions {
    padding-inline: 10rem;
}

.Questions img {
    max-width: 25rem;
}

@media only screen and (max-width: 960px) and (min-width: 480px){
    .Questions{
        padding-inline: 4rem;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 480px){
    .Questions img{
        max-width: 18.5rem;
    }
}

@media only screen and (max-width: 480px) {
    .Questions {
        padding-inline: 1rem;
    }

    .Questions img {
        height:  13rem;
    }

    .Questions-card {
        background-color: #fff;
        box-shadow: 0px 0px 15px 2px rgba(70, 70, 70, 0.1);
        border-radius: 30px;
        padding: 1rem;
    }
}

