@import "../../App.css";

.Hero {
    min-height: 94vh;
    padding-inline: 10rem;
}

.Hero-container {
    min-height: 94vh
}

.Hero-mockup {
    max-width: 358px;
}
@media only screen and (max-width: 480px) {
    .Hero {
        padding-inline: 1rem;
    }
}