@import "../../App.css";

.Team {
    padding-inline: 10rem;
}

.Team-card {
    padding: 3rem;
    background: rgba(24, 206, 64, 0.25);
    border-radius: 30px;
}

.Team-card-content img {
    min-width: 25rem;
    border-radius: 15px;
}

.Linkedin-link {
    color: #000;
    font-weight: bold;
    text-decoration: underline;
}

.fa-linkedin {
    font-size: calc(5px + 2vmin);
}

@media only screen and (max-width: 960px) and (min-width: 480px){
    .Team{
        padding-inline: 4rem;
    }
}

@media only screen and (max-width: 480px) {
    .Team {
        padding-inline: 1rem;
    }

    .Team-card {
        padding: 2rem;
    }

    .Team-card-content img {
        min-width: 18rem;
        border-radius: 10px;
    }
}

