@import "../../App.css";

.MobileApp {
  padding-inline: 10rem;
  padding-top: 5rem;
  background-color: #18ce40;
}

/* Nascondi la barra di scorrimento */
.parallax-container::-webkit-scrollbar {
  display: none;
}

/* Stile alternativo per la barra di scorrimento (opzionale) */
.parallax-container::-webkit-scrollbar {
  width: 0; /* Nascondi la barra di scorrimento in WebKit */
}

@media only screen and (max-width: 480px) {
  .MobileApp {
    padding-top: 2rem;
    padding-inline: 1rem;
  }
}
@media only screen and (max-width: 960px) {
  .MobileApp {
    padding-inline: 4rem;
  }
}
