.Header {
  padding-inline: 100px;
  height: 100px;
  background-color: white;
}

.Header-logo {
  height: 40px;
  pointer-events: none;
}

@media only screen and (max-width: 768px) {
  .Header {
    padding-inline: 20px;
    height: 50px;
  }
}

@media only screen and (max-width: 960px) and (min-width: 768px) {
  .Header {
    padding-inline: 40px;
    height: 80px;
  }
}
