@import "../../App.css";

.Header {
    padding-inline: 10rem;
}

.Header-logo {
    height: 2rem;
    margin-block: 5px;
    pointer-events: none;
}

.Header-language-button {
    font-weight: 400;
    background-color: transparent;
    border: 0;
    color: #000;
}

@media only screen and (max-width: 768px) {
    .Header {
        padding-inline: 1rem;
    }
}