@import "../../App.css";

.Footer {
    padding-block: 50px;
    background-color: #18CE40;
    padding-inline: 100px;
}

.Footer-logo {
    height: 40px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 480px) {
    .Footer {
        padding-block: 2rem;
        padding-inline: 1rem;
    }
}

@media only screen and (max-width: 960px){
    .Footer {
        padding-inline: 4rem;
        padding-block: 3rem;
    }
}
