.Primary-button {
  height: 40px;
  min-width: 110px;
  color: #fff;
  border: 0;
  background-color: #000;
  border-radius: 3rem;
}

.Secondary-button {
  height: 55px;
  min-width: 150px;
  max-width: 190px;
  border: 0;
  color: #fff;
  background-color: #18ce40;
  border-radius: 3rem;
}

.bg-green-loop {
  background-color: #18ce40;
}
