@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&family=Montserrat:wght@700&display=swap');

body {
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: calc(50px + 2vmin);
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: calc(30px + 2vmin);
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: calc(10px + 2vmin);
}

h4 {
  font-family: 'Manrope', sans-serif;
  font-size: calc(10px + 2vmin);
  font-weight: 400;
  color: #fff;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: calc(3px + 2vmin);
}

h6 {
  font-family: 'Manrope', sans-serif;
  font-size: 1rem;
}

p {
  font-family: 'Manrope', sans-serif;
  font-size: calc(5px + 2vmin);
}

a {
  font-family: 'Manrope', sans-serif;
  font-size: calc(5px + 2vmin);
}

i {
  font-size: calc(40px + 2vmin);
}

button {
  font-family: 'Manrope', sans-serif;
  font-weight: bold;
  font-size: 16px;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 35px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 0.8rem;
  }

  p {
    font-size: 18px;
  }

  a {
    font-size: 18px;
  }
}